<mat-toolbar color="primary" class="navbar">
    <div  (click)="goHome()" style="cursor: pointer;">
            <span style="margin-right: 4px;"><b>CityExplorer</b></span>
            <mat-icon>near_me</mat-icon>
    </div>

    <div style="margin-left: 10px;">
        <button  mat-button  [routerLink]="['/home']">
          <mat-icon>local_activity</mat-icon>
          <span>Activities</span>
        </button>
        <button mat-button  [routerLink]="['/newActivity']">
        <mat-icon>fiber_new</mat-icon>
        <span>Add new activity</span>
        </button>
        <button mat-button  [routerLink]="['/reports']">
        <mat-icon>info</mat-icon>
        <span>Reports</span>
        </button>
    </div>
    
    <button mat-button (click)="logOut()" id="logout-btn">
        <mat-icon>highlight_off</mat-icon>
        <span>Logout</span>
    </button>
      
</mat-toolbar>