<mat-toolbar color="primary" class="navbar">

    <div (click)="goHome()" style="cursor: pointer;">
        <span style="margin-right: 4px;"><b>CityExplorer</b></span>
        <mat-icon>near_me</mat-icon>
    </div>

    
    <button  mat-button  [routerLink]="['/home']">
        <mat-icon>local_activity</mat-icon>
        <span>Activities</span>
    </button>

    <div>
        
        <button mat-button [routerLink]="['/login']" id="login-btn">
            <mat-icon>input</mat-icon>
            <span>Login</span>
        </button>
        <button mat-button [routerLink]="['/register']" id="register-btn">
            <mat-icon>person_add</mat-icon>
            <span>Register</span>
        </button>
    </div>

</mat-toolbar>