<div>
  <div class="float-container" (click)="getDetails(activity.id)">
    
  <mat-card (click) = "getDetails(activity.id)" class="box" style="width: 40%; text-align: center;" >
    <img class="card-img-top" src={{activity.imageUrl}} style="padding: 0.5em; height: 250px;" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
        <strong>{{ activity.name}}</strong>
      </p>
      <br>
      <div style="border-top: 15px;"><b>{{activity.address}}</b></div><br>
      <mat-divider></mat-divider>
      <p class="description">{{activity.description}}</p>
    </div>
    <button type="submit" (click) = "goBack()"  class="btn btn-success" style="width: 20%; margin-bottom: 1em;">Back</button>
    <br>
  </mat-card>
  </div>
</div>