
    
    <form id="editProfileForma" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div id="imgContainer" style="margin-left: 15px;margin-top: 15px">
    <h1 id="imePrezime">{{user.firstName}} {{user.lastName}}</h1>
        <div class="imagePicker">
            <img id="profile_img" src="{{imageUrl}}" alt="Image preview..." > <br>
            
        </div>
    </div>
    

    <div class="grid-container">
        <div class="grid-item">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input id="firstname-input" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': f.firstName.touched && f.firstName.errors }" disabled/>
                <div *ngIf="f.firstName.touched && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastname-input" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': f.lastName.touched && f.lastName.errors }" disabled/>
                <div *ngIf="f.lastName.touched && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email-input" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" disabled/>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.email">Please enter a valid email</div>
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username-input" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" disabled/>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                    <div *ngIf="f.username.errors.minlength">Username must be at least 3 characters</div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="form-group">
                <label for="registration">Registration date</label>
                <input type="text" name="registration" class="form-control"  placeholder="2021-05-27" disabled 
                value="{{user.registrationTime}}">
            </div>
        </div>

        <input type="hidden" id="userId" value="{{user.id}}">
    </div>
    </form>

<input id="hiddenErrorMessage" type="text" value="{{this.errorMessage}}" hidden>